#tracking-protection-study-button-wrapper {
  background-color: green;
  margin-right: 3px;
  cursor: pointer;
  font-size: .8em;
  border-radius: 5px;
}

#tracking-protection-study-button {
  /*
  * Needed for Linux OS otherwise default toolbarbutton -moz-appearance overrides
  * some styles like hover and padding.
  */
  -moz-appearance: none !important;
}

#tracking-protection-study-button > .toolbarbutton-text {
  display: flex;
  color: white;
  margin-right: 5px !important;
}

#tracking-protection-study-button > image {
  height: 14px;
  width: 14px;
  margin: 1px 3px 1px 5px;
}

/* Reference: firefox.design.com */

#tracking-protection-study-intro-panel {
  width: 300px;
  font-size: 100%;
  font-family: sans-serif;
  text-align: center;
}

#tracking-protection-messaging-study-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.25;
}

#tracking-protection-messaging-study-svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

#tracking-protection-messaging-study-message {
  color: #737373;
}

.tracking-protection-messaging-study-message-quantity {
  color: #058b00;
  font-size: 16px;
  font-weight: 400;
}
